# Auto generated shader headers
include/gl/shaders/objvert.h
include/gl/shaders/objfrag.h
include/gui/screen/shaders/screenvert.h
include/gui/screen/shaders/screenfrag.h

# Binary files
*.o
*.exe
*.a
*.dll

# CLion project directory
.idea/*
