# Auto generated shader headers
include/gl/vertshader.h
include/gl/fragshader.h
include/gui/screen/vertshader.h
include/gui/screen/fragshader.h

# Binary files
*.o
*.exe
*.a
*.dll

# CLion project directory
.idea/*
